<div class="py-32 flex flex-col justify-center items-center text-center px-4 bg-white">

  <h1 class="text-4xl font-bold text-blue-600 mb-4">
    Добро пожаловать в CalorieTracker
  </h1>
  <p class="text-lg text-gray-600 mb-6 max-w-xl">
    Отслеживайте своё питание, следите за калориями и достигайте целей здоровья каждый день!
  </p>
  <%= link_to "Перейти в кабинет", profile_path, class: "bg-blue-600 hover:bg-blue-700 text-white font-semibold py-2 px-4 rounded-xl shadow-md transition" %>
</div>
